body {
    margin: 0;
    font-family: "Share Tech Mono", monospace;
    font-style: normal;
    background: linear-gradient(135deg, #00203f, #003c58);
    color: white;
    overflow-x: hidden;
}

header {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
}

a {
    color: #f5f3ef;
    text-decoration: none;
    transition: color 0.3s;
}


.logo span {
    color: #ffb400;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 6px #40c9c9;
    transition: text-shadow 0.2s;
    border: none;
    outline: none;
}

nav {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.search-bar {
    gap: 10px;
    border-radius: 10px;
    padding: 12px;
}

.search-bar input {
    width: 50%;
    padding: 12px;
    border-radius: 15px;
    background: linear-gradient(125deg, #f3f4f6, #d1d5db);
    border: 1px solid #004a77;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar input:focus {
    border-color: #40c9c9;
    box-shadow: 0 0 15px #40c9c9;
}

.search-bar button {
    padding: 12px 20px;
    background: linear-gradient(135deg, #ff9e00, #ffb400);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, box-shadow 0.3s;
}

.search-bar button:hover {
    background: linear-gradient(135deg, #0091a7, #40c9c9);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

.main-section {
    text-align: center;
    padding: 20px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -10px;
}

.main-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    animation: typing 3s steps(40, end), blink-caret 0.5s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    color: #40c9c9;
}

footer {
    text-align: center;
}

.carousel img {
    min-width: 100%;
}
